<div ng-controller="UsersController">
  <div class="topbar animated fadeInLeftBig"></div>

  <!-- Header Starts -->
  <div class="navbar-wrapper">
    <div class="container">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
        <div class="container">
          <div class="navbar-header">
            <!-- Logo Starts -->
            <a class="navbar-brand"><img src="images/logoTemporal.png" alt="logo" class="principalPageLogoSize">{{$sessionStorage.currentUser.name}}</a>
            <!-- #Logo Ends -->
          </div>
          <!-- Nav Starts -->
          <div class="navbar-collapse  collapse">
            <ul class="nav navbar-nav navbar-right scroll">
              <li ><a ng-click="logout()">Cerrar Sesión</a></li>
            </ul>
          </div>
          <!-- #Nav Ends -->
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-controller="advertiserController" class="marginAdvertiser">
   <div id="works"  class=" clearfix grid">
      <figure class="effect-oscar fadeIn">
         <img src="../images/portfolio/housePrincipalPage.jpg" class = "principalPageImgSize">
         <figcaption>
            <h2>Casa</h2>
            <p>Descripción casas<br>
               <a data-toggle="modal" data-target="#modalHouse">Manejo de casas</a>
            </p>
         </figcaption>
      </figure>
      <figure class="effect-oscar fadeInUp">
         <img src="../images/portfolio/apartmentsPrincipalPage.jpg" class = "principalPageImgSize">
         <figcaption>
            <h2>Apartamento</h2>
            <p>Descripción apartamentos<br>
               <a data-toggle="modal" data-target="#modalApartment">Manejo de apartamentos</a>
            </p>
         </figcaption>
      </figure>
      <figure class="effect-oscar fadeInUp">
         <img src="../images/portfolio/condominiumsPrincipalPage.jpg" class = "principalPageImgSize">
         <figcaption>
            <h2>Condominio</h2>
            <p>Descripción condominios<br>
               <a data-toggle="modal" data-target="#modalCondo">Manejo de condominios</a>
            </p>
         </figcaption>
      </figure>
      <figure class="effect-oscar fadeInUp">
         <img src="../images/portfolio/landscapePrincipalPage.jpg" class = "principalPageImgSize">
         <figcaption>
            <h2>Propiedad</h2>
            <p>Descripción Propiedades<br>
               <a data-toggle="modal" data-target="#modalProperty">Manejo de propiedades</a>
            </p>
         </figcaption>
      </figure>
      <figure class="effect-oscar fadeInUp">
         <img src="../images/portfolio/localsPrincipalPage.jpg" class = "principalPageImgSize">
         <figcaption>
            <h2>Local</h2>
            <p>Descripción Locales<br>
               <a data-toggle="modal" data-target="#modalLocal">Manejo de locales</a>
            </p>
         </figcaption>
      </figure>
      <figure class="effect-oscar fadeInUp">
         <img src="../images/portfolio/wineriesPrincipalPage.jpg" class = "principalPageImgSize">
         <figcaption>
            <h2>Bodega</h2>
            <p>Descripción Bodegas<br>
               <a data-toggle="modal" data-target="#modalStorage">Manejo de bodegas</a>
            </p>
         </figcaption>
      </figure>
   </div>

   <!-- Modal Casa  -->
   <div id="modalHouse" class="modal fade" role="dialog">
      <div class="modal-dialog2">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
               <div id="container-main" class="container">
                  <h1>CASAS</h1>
                  <br>
                  <div class="panel-group" id="accordion">
                     <div class="panel panel-default panelAdvertiser">
                        <div>
                           <p data-toggle="collapse" data-parent="#accordion" data-target="#createHouse" class="accordion-titulo">Crear casa</p>
                        </div>
                        <div id="createHouse" class="panel-collapse collapse accordion-container">
                           <table class="add">
                              <tr>
                                 <th class="td_thEmployee thEmployee">Nombre</th>
                                 <td class="td_thEmployee tdEmployee"><input type="text" id="name1" ng-model="property.name"></td>
                              </tr>
                              <tr>
                                 <th class="td_thEmployee thEmployee">Dirección</th>
                                 <td class="td_thEmployee tdEmployee">
                                    <textarea id="address1" class="form-control" rows="5" ng-model="property.address"></textarea>
                                 </td>
                              </tr>
                              <tr>
                                 <th class="td_thEmployee thEmployee">Categoría</th>
                                 <td class="td_thEmployee tdEmployee">
                                    <select ng-model="property.category">
                                       <option value="Alquiler">Alquiler</option>
                                       <option value="Venta">Venta</option>
                                    </select>
                                 </td>
                              </tr>
                             <tr>
                                 <td class="td_thEmployee tdEmployee" colspan="2"><img class="img2" src="../images/icons/home.png" ng-click="postHouse()"/></td>
                              </tr>
                           </table>
                        </div>
                     </div>
                     <div class="panel panel-default panelAdvertiser">
                        <div>
                           <p data-toggle="collapse" data-parent="#accordion" data-target="#modDelHouse" class="accordion-titulo" ng-click="getProperty()">Modificar o eliminar casa</p>
                        </div>
                        <div id="modDelHouse" class="panel-collapse collapse accordion-container">
                           <table>
                              <tr>
                                 <th>Nombre</th>
                                 <th>Dirección</th>
                                 <th>Categoría</th>
                                 <th>Disponibilidad</th>
                              </tr>
                              <tr ng-repeat="property in properties |filterWithOr:{type:['casa']}">
                                 <th>{{property.name}}</th>
                                 <th>{{property.address}}</th>
                                 <th>{{property.category}}</th>
                                 <th>{{property.available}}</th>
                                 <th>
                                    <img class="img2" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modifyHouse" src="../images/icons/home_info.png"/>
                                 </th>
                                 <th>
                                    <img class="img2" src="../images/icons/home_remove.png" ng-click="deleteProperty(property)"/>
                                 </th>
                              </tr>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Modal Apartamento  -->
   <div id="modalApartment" class="modal fade" role="dialog">
      <div class="modal-dialog2">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
               <div id="container-main" class="container">
                  <h1>APARTAMENTO</h1>
                  <br>
                  <div class="panel-group" id="accordion">
                     <div class="panel panel-default panelAdvertiser">
                        <div>
                           <p data-toggle="collapse" data-parent="#accordion" data-target="#createApartment" class="accordion-titulo">Crear apartamento</p>
                        </div>
                        <div id="createApartment" class="panel-collapse collapse accordion-container">
                               <table class="add">
                              <tr>
                                 <th class="td_thEmployee thEmployee">Nombre</th>
                                 <td class="td_thEmployee tdEmployee"><input type="text" id="name2" ng-model="property.name"></td>
                              </tr>
                              <tr>
                                 <th class="td_thEmployee thEmployee">Dirección</th>
                                 <td class="td_thEmployee tdEmployee">
                                    <textarea id="address2" class="form-control" rows="5" ng-model="property.address"></textarea>
                                 </td>
                              </tr>
                              <tr>
                                 <th class="td_thEmployee thEmployee">Categoría</th>
                                 <td class="td_thEmployee tdEmployee">
                                    <select ng-model="property.category">
                                       <option value="Alquiler">Alquiler</option>
                                       <option value="Venta">Venta</option>
                                    </select>
                                 </td>
                              </tr>
                             <tr>
                                 <td class="td_thEmployee tdEmployee" colspan="2"><img class="img2" src="../images/icons/home.png" ng-click="postApartment()"/></td>
                              </tr>
                           </table>
                        </div>
                     </div>
                     <div class="panel panel-default panelAdvertiser">
                        <div>
                           <p data-toggle="collapse" data-parent="#accordion" data-target="#modDelApartment" class="accordion-titulo" ng-click="getProperty()">Modificar o eliminar apartamento</p>
                        </div>
                        <div id="modDelApartment" class="panel-collapse collapse accordion-container">
                           <table>
                              <tr>
                                 <th>Nombre</th>
                                 <th>Dirección</th>
                                 <th>Categoría</th>
                                 <th>Disponibilidad</th>
                              </tr>
                              <tr ng-repeat="property in properties |filterWithOr:{type:['apartamento']}">
                                 <th>{{property.name}}</th>
                                 <th>{{property.address}}</th>
                                 <th>{{property.category}}</th>
                                 <th>{{property.available}}</th>
                                 <th>
                                    <img class="img2" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modifyApartment" src="../images/icons/home_info.png"/>
                                 </th>
                                 <th>
                                    <img class="img2" src="../images/icons/home_remove.png" ng-click="deleteProperty(property)"/>
                                 </th>
                              </tr>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Modal Condominio  -->
   <div id="modalCondo" class="modal fade" role="dialog">
      <div class="modal-dialog2">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
               <div id="container-main" class="container">
                  <h1>CONDOMINIOS</h1>
                  <br>
                  <div class="panel-group" id="accordion">
                     <div class="panel panel-default panelAdvertiser">
                        <div>
                           <p data-toggle="collapse" data-parent="#accordion" data-target="#createCondo" class="accordion-titulo">Crear condominios</p>
                        </div>
                        <div id="createCondo" class="panel-collapse collapse accordion-container">
                               <table class="add">
                              <tr>
                                 <th class="td_thEmployee thEmployee">Nombre</th>
                                 <td class="td_thEmployee tdEmployee"><input type="text" id="name3" ng-model="property.name"></td>
                              </tr>
                              <tr>
                                 <th class="td_thEmployee thEmployee">Dirección</th>
                                 <td class="td_thEmployee tdEmployee">
                                    <textarea id="address3" class="form-control" rows="5" ng-model="property.address"></textarea>
                                 </td>
                              </tr>
                              <tr>
                                 <th class="td_thEmployee thEmployee">Categoría</th>
                                 <td class="td_thEmployee tdEmployee">
                                    <select ng-model="property.category">
                                       <option value="Alquiler">Alquiler</option>
                                       <option value="Venta">Venta</option>
                                    </select>
                                 </td>
                              </tr>
                             <tr>
                                 <td class="td_thEmployee tdEmployee" colspan="2"><img class="img2" src="../images/icons/home.png" ng-click="postCondo()"/></td>
                              </tr>
                           </table>
                        </div>
                     </div>
                     <div class="panel panel-default panelAdvertiser">
                        <div>
                           <p data-toggle="collapse" data-parent="#accordion" data-target="#modDelCondo" class="accordion-titulo" ng-click="getProperty()">Modificar o eliminar condominios</p>
                        </div>
                        <div id="modDelCondo" class="panel-collapse collapse accordion-container">
                           <table>
                              <tr>
                                 <th>Nombre</th>
                                 <th>Dirección</th>
                                 <th>Categoría</th>
                                 <th>Disponibilidad</th>
                              </tr>
                              <tr ng-repeat="property in properties |filterWithOr:{type:['condominio']}">
                                 <th>{{property.name}}</th>
                                 <th>{{property.address}}</th>
                                 <th>{{property.category}}</th>
                                 <th>{{property.available}}</th>
                                 <th>
                                    <img class="img2" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modifyCondo" src="../images/icons/home_info.png"/>
                                 </th>
                                 <th>
                                    <img class="img2" src="../images/icons/home_remove.png" ng-click="deleteProperty(property)"/>
                                 </th>
                              </tr>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Modal Propriedad  -->
   <div id="modalProperty" class="modal fade" role="dialog">
      <div class="modal-dialog2">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
               <div id="container-main" class="container">
                  <h1>PROPIEDADES</h1>
                  <br>
                  <div class="panel-group" id="accordion">
                     <div class="panel panel-default panelAdvertiser">
                        <div>
                           <p data-toggle="collapse" data-parent="#accordion" data-target="#createProperty" class="accordion-titulo">Crear propiedad</p>
                        </div>
                        <div id="createProperty" class="panel-collapse collapse accordion-container">
                               <table class="add">
                              <tr>
                                 <th class="td_thEmployee thEmployee">Nombre</th>
                                 <td class="td_thEmployee tdEmployee"><input type="text" id="name4" ng-model="property.name"></td>
                              </tr>
                              <tr>
                                 <th class="td_thEmployee thEmployee">Dirección</th>
                                 <td class="td_thEmployee tdEmployee">
                                    <textarea id="address4" class="form-control" rows="5" ng-model="property.address"></textarea>
                                 </td>
                              </tr>
                              <tr>
                                 <th class="td_thEmployee thEmployee">Categoría</th>
                                 <td class="td_thEmployee tdEmployee">
                                    <select ng-model="property.category">
                                       <option value="Alquiler">Alquiler</option>
                                       <option value="Venta">Venta</option>
                                    </select>
                                 </td>
                              </tr>
                             <tr>
                                 <td class="td_thEmployee tdEmployee" colspan="2"><img class="img2" src="../images/icons/home.png" ng-click="postTerrain()"/></td>
                              </tr>
                           </table>
                        </div>
                     </div>
                     <div class="panel panel-default panelAdvertiser">
                        <div>
                           <p data-toggle="collapse" data-parent="#accordion" data-target="#modDelProperty" class="accordion-titulo" ng-click="getProperty()">Modificar o eliminar propiedad</p>
                        </div>
                        <div id="modDelProperty" class="panel-collapse collapse accordion-container">
                           <table>
                              <tr>
                                 <th>Nombre</th>
                                 <th>Dirección</th>
                                 <th>Categoría</th>
                                 <th>Disponibilidad</th>
                              </tr>
                              <tr ng-repeat="property in properties |filterWithOr:{type:['propiedad']}">
                                 <th>{{property.name}}</th>
                                 <th>{{property.address}}</th>
                                 <th>{{property.category}}</th>
                                 <th>{{property.available}}</th>
                                 <th>
                                    <img class="img2" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modifyProperty" src="../images/icons/home_info.png"/>
                                 </th>
                                 <th>
                                    <img class="img2" src="../images/icons/home_remove.png" ng-click="deleteProperty(property)"/>
                                 </th>
                              </tr>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Modal Local  -->
   <div id="modalLocal" class="modal fade" role="dialog">
      <div class="modal-dialog2">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
               <div id="container-main" class="container">
                  <h1>Local</h1>
                  <br>
                  <div class="panel-group" id="accordion">
                     <div class="panel panel-default panelAdvertiser">
                        <div>
                           <p data-toggle="collapse" data-parent="#accordion" data-target="#createLocal" class="accordion-titulo">Crear local</p>
                        </div>
                        <div id="createLocal" class="panel-collapse collapse accordion-container">
                               <table class="add">
                              <tr>
                                 <th class="td_thEmployee thEmployee">Nombre</th>
                                 <td class="td_thEmployee tdEmployee"><input type="text" id="name5" ng-model="property.name"></td>
                              </tr>
                              <tr>
                                 <th class="td_thEmployee thEmployee">Dirección</th>
                                 <td class="td_thEmployee tdEmployee">
                                    <textarea id="address5" class="form-control" rows="5" ng-model="property.address"></textarea>
                                 </td>
                              </tr>
                              <tr>
                                 <th class="td_thEmployee thEmployee">Categoría</th>
                                 <td class="td_thEmployee tdEmployee">
                                    <select ng-model="property.category">
                                       <option value="Alquiler">Alquiler</option>
                                       <option value="Venta">Venta</option>
                                    </select>
                                 </td>
                              </tr>
                             <tr>
                                 <td class="td_thEmployee tdEmployee" colspan="2"><img class="img2" src="../images/icons/home.png" ng-click="postLocal()"/></td>
                              </tr>
                           </table>
                        </div>
                     </div>
                     <div class="panel panel-default panelAdvertiser">
                        <div>
                           <p data-toggle="collapse" data-parent="#accordion" data-target="#modDelLocal" class="accordion-titulo" ng-click="getProperty()">Modificar o eliminar local</p>
                        </div>
                        <div id="modDelLocal" class="panel-collapse collapse accordion-container">
                           <table>
                              <tr>
                                 <th>Nombre</th>
                                 <th>Dirección</th>
                                 <th>Categoría</th>
                                 <th>Disponibilidad</th>
                              </tr>
                              <tr ng-repeat="property in properties |filterWithOr:{type:['local']}">
                                 <th>{{property.name}}</th>
                                 <th>{{property.address}}</th>
                                 <th>{{property.category}}</th>
                                 <th>{{property.available}}</th>
                                 <th>
                                    <img class="img2" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modifyLocal" src="../images/icons/home_info.png"/>
                                 </th>
                                 <th>
                                    <img class="img2" src="../images/icons/home_remove.png" ng-click="deleteProperty(property)"/>
                                 </th>
                              </tr>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Modal Bodega  -->
   <div id="modalStorage" class="modal fade" role="dialog">
      <div class="modal-dialog2">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
               <div id="container-main" class="container">
                  <h1>BODEGAS</h1>
                  <br>
                  <div class="panel-group" id="accordion">
                     <div class="panel panel-default panelAdvertiser">
                        <div>
                           <p data-toggle="collapse" data-parent="#accordion" data-target="#createStorage" class="accordion-titulo">Crear bodega</p>
                        </div>
                        <div id="createStorage" class="panel-collapse collapse accordion-container">
                               <table class="add">
                              <tr>
                                 <th class="td_thEmployee thEmployee">Nombre</th>
                                 <td class="td_thEmployee tdEmployee"><input type="text" id="name6" ng-model="property.name"></td>
                              </tr>
                              <tr>
                                 <th class="td_thEmployee thEmployee">Dirección</th>
                                 <td class="td_thEmployee tdEmployee">
                                    <textarea id="address6" class="form-control" rows="5" ng-model="property.address"></textarea>
                                 </td>
                              </tr>
                              <tr>
                                 <th class="td_thEmployee thEmployee">Categoría</th>
                                 <td class="td_thEmployee tdEmployee">
                                    <select ng-model="property.category">
                                       <option value="Alquiler">Alquiler</option>
                                       <option value="Venta">Venta</option>
                                    </select>
                                 </td>
                              </tr>
                             <tr>
                                 <td class="td_thEmployee tdEmployee" colspan="2"><img class="img2" src="../images/icons/home.png" ng-click="postStorage()"/></td>
                              </tr>
                           </table>
                        </div>
                     </div>
                     <div class="panel panel-default panelAdvertiser">
                        <div>
                           <p data-toggle="collapse" data-parent="#accordion" data-target="#modDelStorage" class="accordion-titulo" ng-click="getProperty()">Modificar o eliminar bodega</p>
                        </div>
                        <div id="modDelStorage" class="panel-collapse collapse accordion-container">
                           <table>
                              <tr>
                                 <th>Nombre</th>
                                 <th>Dirección</th>
                                 <th>Categoría</th>
                                 <th>Disponibilidad</th>
                              </tr>
                              <tr ng-repeat="property in properties |filterWithOr:{type:['bodega']}">
                                 <th>{{property.name}}</th>
                                 <th>{{property.address}}</th>
                                 <th>{{property.category}}</th>
                                 <th>{{property.available}}</th>
                                 <th>
                                    <img class="img2" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modifyStorage" src="../images/icons/home_info.png"/>
                                 </th>
                                 <th>
                                    <img class="img2" src="../images/icons/home_remove.png" ng-click="deleteProperty(property)"/>
                                 </th>
                              </tr>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--Modify modals -->
   <!-- Modify House -->
   <div id="modifyHouse" class="modal fade" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Modificar casa</h4>
            </div>
            <div class="modal-body">
               <table class="add">
                  <tr>
                     <th class="td_thEmployee thEmployee">Nombre</th>
                     <td class="td_thEmployee tdEmployee"><input type="text" name="id"ng-model="property.name"></td>
                  </tr>
                  <tr>
                     <th class="td_thEmployee thEmployee">Dirección</th>
                     <td class="td_thEmployee tdEmployee">
                        <textarea class="form-control" rows="5" ng-model="property.address"></textarea>
                     </td>
                  </tr>
                  <tr>
                     <th class="td_thEmployee thEmployee">Categoría</th>
                     <td class="td_thEmployee tdEmployee">
                        <select ng-model="property.category">
                           <option value="Alquiler">Alquiler</option>
                           <option value="Venta">Venta</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td class="td_thEmployee thEmployee">Disponibilidad</td>
                     <td class="td_thEmployee tdEmployee">
                        <select ng-model="property.available">
                           <option value="Disponible">Disponible</option>
                           <option value="No disponible">No disponible</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td class="td_thEmployee tdEmployee" colspan="2"><img class="img2" src="../images/icons/home_info.png" data-dismiss="modal" ng-click="updateHouse(property)"/></td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
   <!-- Modify Apartment -->
   <div id="modifyApartment" class="modal fade" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Modificar apartamento</h4>
            </div>
            <div class="modal-body">
               <table class="add">
                  <tr>
                     <th class="td_thEmployee thEmployee">Nombre</th>
                     <td class="td_thEmployee tdEmployee"><input type="text" name="id"ng-model="property.name"></td>
                  </tr>
                  <tr>
                     <th class="td_thEmployee thEmployee">Dirección</th>
                     <td class="td_thEmployee tdEmployee">
                        <textarea class="form-control" rows="5" ng-model="property.address"></textarea>
                     </td>
                  </tr>
                  <tr>
                     <th class="td_thEmployee thEmployee">Categoría</th>
                     <td class="td_thEmployee tdEmployee">
                        <select ng-model="property.category">
                           <option value="Alquiler">Alquiler</option>
                           <option value="Venta">Venta</option>
                        </select>
                     </td>
                  </tr>
                    <tr>
                     <td class="td_thEmployee thEmployee">Disponibilidad</td>
                     <td class="td_thEmployee tdEmployee">
                        <select ng-model="property.available">
                           <option value="Disponible">Disponible</option>
                           <option value="No disponible">No disponible</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td class="td_thEmployee tdEmployee" colspan="2"><img class="img2" src="../images/icons/home_info.png" data-dismiss="modal" ng-click="updateApartment(property)"/></td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
   <!-- Modify Condo -->
   <div id="modifyCondo" class="modal fade" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Modificar condominio</h4>
            </div>
            <div class="modal-body">
               <table class="add">
                  <tr>
                     <th class="td_thEmployee thEmployee">Nombre</th>
                     <td class="td_thEmployee tdEmployee"><input type="text" name="id"ng-model="property.name"></td>
                  </tr>
                  <tr>
                     <th class="td_thEmployee thEmployee">Dirección</th>
                     <td class="td_thEmployee tdEmployee">
                        <textarea class="form-control" rows="5" ng-model="property.address"></textarea>
                     </td>
                  </tr>
                  <tr>
                     <th class="td_thEmployee thEmployee">Categoría</th>
                     <td class="td_thEmployee tdEmployee">
                        <select ng-model="property.category">
                           <option value="Alquiler">Alquiler</option>
                           <option value="Venta">Venta</option>
                        </select>
                     </td>
                  </tr>
                    <tr>
                     <td class="td_thEmployee thEmployee">Disponibilidad</td>
                     <td class="td_thEmployee tdEmployee">
                        <select ng-model="property.available">
                           <option value="Disponible">Disponible</option>
                           <option value="No disponible">No disponible</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td class="td_thEmployee tdEmployee" colspan="2"><img class="img2" src="../images/icons/home_info.png" data-dismiss="modal" ng-click="updateCondo(property)"/></td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
   <!-- Modify Property -->
   <div id="modifyProperty" class="modal fade" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Modificar propiedad</h4>
            </div>
            <div class="modal-body">
               <table class="add">
                  <tr>
                     <th class="td_thEmployee thEmployee">Nombre</th>
                     <td class="td_thEmployee tdEmployee"><input type="text" name="id"ng-model="property.name"></td>
                  </tr>
                  <tr>
                     <th class="td_thEmployee thEmployee">Dirección</th>
                     <td class="td_thEmployee tdEmployee">
                        <textarea class="form-control" rows="5" ng-model="property.address"></textarea>
                     </td>
                  </tr>
                  <tr>
                     <th class="td_thEmployee thEmployee">Categoría</th>
                     <td class="td_thEmployee tdEmployee">
                        <select ng-model="property.category">
                           <option value="Alquiler">Alquiler</option>
                           <option value="Venta">Venta</option>
                        </select>
                     </td>
                  </tr>
                    <tr>
                     <td class="td_thEmployee thEmployee">Disponibilidad</td>
                     <td class="td_thEmployee tdEmployee">
                        <select ng-model="property.available">
                           <option value="Disponible">Disponible</option>
                           <option value="No disponible">No disponible</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td class="td_thEmployee tdEmployee" colspan="2"><img class="img2" src="../images/icons/home_info.png" data-dismiss="modal" ng-click="updateTerrain(property)"/></td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
   <!-- Modify Local -->
   <div id="modifyLocal" class="modal fade" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Modificar local</h4>
            </div>
            <div class="modal-body">
               <table class="add">
                  <tr>
                     <th class="td_thEmployee thEmployee">Nombre</th>
                     <td class="td_thEmployee tdEmployee"><input type="text" name="id"ng-model="property.name"></td>
                  </tr>
                  <tr>
                     <th class="td_thEmployee thEmployee">Dirección</th>
                     <td class="td_thEmployee tdEmployee">
                        <textarea class="form-control" rows="5" ng-model="property.address"></textarea>
                     </td>
                  </tr>
                  <tr>
                     <th class="td_thEmployee thEmployee">Categoría</th>
                     <td class="td_thEmployee tdEmployee">
                        <select ng-model="property.category">
                           <option value="Alquiler">Alquiler</option>
                           <option value="Venta">Venta</option>
                        </select>
                     </td>
                  </tr>
                    <tr>
                     <td class="td_thEmployee thEmployee">Disponibilidad</td>
                     <td class="td_thEmployee tdEmployee">
                        <select ng-model="property.available">
                           <option value="Disponible">Disponible</option>
                           <option value="No disponible">No disponible</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td class="td_thEmployee tdEmployee" colspan="2"><img class="img2" src="../images/icons/home_info.png" data-dismiss="modal" ng-click="updateLocal(property)"/></td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
   <!-- Modify Storage -->
   <div id="modifyStorage" class="modal fade" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Modificar bodega</h4>
            </div>
            <div class="modal-body">
               <table class="add">
                  <tr>
                     <th class="td_thEmployee thEmployee">Nombre</th>
                     <td class="td_thEmployee tdEmployee"><input type="text" name="id"ng-model="property.name"></td>
                  </tr>
                  <tr>
                     <th class="td_thEmployee thEmployee">Dirección</th>
                     <td class="td_thEmployee tdEmployee">
                        <textarea class="form-control" rows="5" ng-model="property.address"></textarea>
                     </td>
                  </tr>
                  <tr>
                     <th class="td_thEmployee thEmployee">Categoría</th>
                     <td class="td_thEmployee tdEmployee">
                        <select ng-model="property.category">
                           <option value="Alquiler">Alquiler</option>
                           <option value="Venta">Venta</option>
                        </select>
                     </td>
                  </tr>
                    <tr>
                     <td class="td_thEmployee thEmployee">Disponibilidad</td>
                     <td class="td_thEmployee tdEmployee">
                        <select ng-model="property.available">
                           <option value="Disponible">Disponible</option>
                           <option value="No disponible">No disponible</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td class="td_thEmployee tdEmployee" colspan="2"><img class="img2" src="../images/icons/home_info.png" data-dismiss="modal" ng-click="updateHouse(property)"/></td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>